@{
    ViewBag.Title = "Home Page";
}
@model FaceGram.Models.NewFeedModel

@section StylePage{
    <link rel="stylesheet" href="~/Assets/Css/homeStyle.css" />
    <link rel="stylesheet" href="~/Assets/Css/postViewStyle.css" />

}

@section ScriptPage{
    <script src="~/Assets/Js/interactPostScript.js"></script>
}


<div class="home-content row">
    <div class="newfeeds col-md-8 col-lg-8" id="newfeeds">

        @if (Model.PostModelList.Count >= 1)
        {

            foreach (var postModel in Model.PostModelList)
            {
                Html.RenderPartial("_PartialPost", postModel);
            }

        }





    </div>
    <div class="follower col-md-4 col-lg-4">

    </div>
</div>
