/*========= Post style ==================*/
/*Common Post Style*/
.post-basic {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    margin-bottom: 60px;
}

.post-basic img {
    display: inline-block;
}

.post-align-side {
    padding: 8px 12px;
}

/*Detail section in Post */
.post-basic .post-header {
    margin-bottom: 25px;
    clear: both;
}
.post-basic .post-header .time-ago{
    padding-top: 5px;
}

.post-basic .post-header .avatar-name .nickname {
    margin-left: 10px;
    font-weight: bold;
}



.post-basic .post-content {
    margin-bottom: 2px;
}

.post-basic .post-image {
    margin-bottom: 20px;
}

.post-basic .post-interact{
    margin-bottom: 10px;
}


.post-basic .add-comment {
    border-top: 1px solid #e8e8e8;
}

.post-basic .add-comment #addComment {
    padding: 15px 12px;
    width: 100%;
    border: none;
}
.post-basic .add-comment #addComment:focus{
    outline: none;
}

.post-basic .add-comment .input-group-addon{
    border: none;
    background-color: #fff;
}
