
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Collections;
@model List<FaceGram.Models.UserAvatarModel>

@section StylePage{
    <link rel="stylesheet" href="~/Assets/Css/explorePeopleStyle.css" />
    <link rel="stylesheet" href="~/Assets/Css/allPeopleStyle.css" />

}

<div class="all-people">
    @{ Html.RenderPartial("_PartialExplorePeople", Model); }
</div>

