
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section StylePage {
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	 <link rel="stylesheet" href="~/Assets/Css/editProfile.css" />
}
<div class="background-edit">
 <div class="user-profile-bot">
                    <div class="mid-profile">
                        <form action="update-profile" method="POST">
						<div class="avatar-username">
						<img id="avatar2" style="background-image: url('https://scontent.fhan2-2.fna.fbcdn.net/v/t1.0-9/54728416_1519749971489145_4888168241685331968_n.jpg?_nc_cat=1&_nc_oc=AQmjFMGAGa8J5WVybXQTdEkn25AUdXexyhad2wM9WhHxYuO_XwkC7SmK0IRaguNpZck&_nc_ht=scontent.fhan2-2.fna&oh=3ed792ab2cb4519f8004e0c4e7f9af26&oe=5D41240A')">
                                          <!--Don't suggest-->

                                            <label class="p-username">UserName</label>
											<br/>
											<select class="option" name="myFile">
                                                <option value="https://danongonline.com.vn/wp-content/uploads/2018/02/anh-girl-xinh-9-1.jpg" >hotgirl.jpg</option>
                                                <option value="http://a9.vietbao.vn/images/vn899/55/2018/07/20180718-giat-minh-hinh-anh-qua-khu-cua-tram-anh-world-cup-1.jpg" >tramanh.jpg</option>
                                                <option value="https://znews-photo.zadn.vn/w860/Uploaded/bpivpjbp/2018_07_09/29513250_595830057426746_6138543117098794662_n.jpg" >khangan.jpg</option>
                                                <option value="https://ss-images.catscdn.vn/2018/08/20/3507670/somi.jpg" >somi.jpg</option>
                                                <option value="https://lh3.googleusercontent.com/s5ecXrgDkTQvJzbZDKdLY322GBfobtMMy_i8e5Jo0ONn7ADK2BfXOGK75bVDpij-Uf3svWsas_UPfQBrzL2vPZPy1MinVxK8CA=w1600-rj" >nancy.jpg</option>
                                            </select>
							</div>
                            <table style="width:100%">
                                <tr class="row rowName">
                                    <td class="title">Name</td>
                                    <td class="content">
                                        <input type="text" name="fullname" value=" ">
                                    </td>
                                </tr>
                                <tr class="row">
                                    <td class="title">Username</td>
                                    <td class="content">
                                        <input type="text" name="username" value=" ">
                                    </td>
                                </tr>
                                <tr class="row">
                                    <td class="title">Website</td>
                                    <td class="content">
                                        <input type="text" name="website" value=" ">
                                    </td>
                                </tr>
                                <tr class="row">
                                    <td class="title">Biography</td>
                                    <td class="content">
                                        <input type="text" name="biography" value=" ">
                                    </td>
                                </tr>
                                <tr class="row">
                                    <td class="title">Email</td>
                                    <td class="content">
                                        <input disabled type="text" name="email-disable" value=" ">
                                        <input type="hidden" name="email" value=" ">
                                    </td>
                                </tr>
                                <tr class="row">
                                    <td class="title">Phone number</td>
                                    <td class="content">
                                        <input type="text" name="phone" value=" ">
                                    </td>
                                </tr>
                                <tr class="row">
                                    <td class="title">Gender</td>
                                    <!--Gender is 0 or 1 so will check to display checked-->
                                    <td class=" center">

                                            <input type="radio" name="gender" value="Male" checked> Male
                                            <input type="radio" name="gender" value="Female" style="margin-left: 20px;"> Female


                                    </td>
                                </tr>
                                <tr class="row">
                                    <td class="title"></td>
                                    <td class=" center"><button class="submit" type="submit" name="submit-update">Update</button></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
				</div>

